* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background: #E1FF8F;
  background-image: url(img/star1.svg), url(img/star2.svg), url(img/star3.svg);
  background-position: 63px 69px, calc(100% + 482px) 100%, calc(100% - 344px) calc(100% - 149px);
  background-repeat: no-repeat;
}
.top__title {
  color: #202027;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 196px;
  padding-bottom: 24px;
}
.top__text {
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-bottom: 48px;
}
.top-mobile__text {
  display: none;
}
.top__button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: 1px solid #202027;
  background: #202027;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%; /* 34.005px */
  margin-bottom: 156px;
}
.top__button:hover {
  background: #FFF;
  color: #000;
}

.game-box {
  height: 1470px;
  background-color: #202027;
  background-image: url(img/star4.svg), url(img/star5.svg);
  background-position: 25px 770px, 111% 85px;
  background-repeat: no-repeat;
}
.game-box__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 94px;
  padding-bottom: 24px;
}
.game-box__text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-bottom: 72px;
}
.game-box__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.game {
  border-radius: 30px;
  background-color: #fff;
  width: 378px;
  display: flex;
  flex-direction: column;
}
.game-bottom {
  padding: 32px 32px 36px 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.game__text-box {
  border-radius: 52.582px;
  background: #F7F7F7;
  width: 108px;
  display: flex;
  padding: 8px 16px 10px 16px;
  justify-content: center;
}
.game__text {
  color: #202027;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
}
.game__title {
  color: #202027;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__img {
  border-radius: 30px;
}
.game__size1 {
  height: 473px;
}
.game__size2 {
  height: 512px;
}
.game__size3 {
  height: 551px;
}
.game__line1 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.game__line2 {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}
.game:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

.mini-game-box {
  height: 3500px;
  background: #202027;
  background-image: url(img/star-mini1.svg), url(img/star-mini2.svg);
  background-position: calc(100% - 80px) calc(100% - 3299px), calc(100% - 80px) calc(100% - 45px);
  background-repeat: no-repeat;
}
.mini-game-box__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 46px;
  padding-bottom: 72px;
}
.mini-game-box__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.mini-game {
  width: 1200px;
  border-radius: 30px;
  background: #FFF;
  display: flex;
}
.mini-game__info {
  padding: 48px;
  width: 504px;
}
.mini-game__title {
  color: #202027;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mini-game__text {
  color: #202027;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-top: 24px;
  padding-bottom: 36px;
}
.mini-game-mobile__text {
  display: none;
}
.mini-game__button {
  border-radius: 60px;
  background: #202027;
  width: 247px;
  height: 66px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%; /* 34.005px */
}
.mini-game__button:hover {
  background: #fff;
  color: #202027;
}
.mini-game__img {
  border-radius: 30px;
}
.mini-game__two {
  flex-direction: row-reverse;
}

.footer {
  height: 150px;
  background: #BDED35;
}
.footer__text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 61px;
  justify-content: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(img/mob-star1.svg), url(img/mob-star2.svg), url(img/mob-star3.svg);
    background-position: 37px 64px, calc(100% + 90px) calc(100% - 550px), 272px 557px;
    background-repeat: no-repeat;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    color: #202027;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 147px;
  }
  .top__text {
    display: none;
  }
  .top-mobile__text {
    display: block;
    color: #202027;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 36px;
  }
  .top__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .game-box {
    display: none;
  }
  .mini-game-box {
    height: 3740px;
    background-image: none;
  }
  .mini-game-box__title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mini-game-box__content {
    gap: 24px;
    justify-content: center;
  }
  .mini-game {
    width: 343px;
    flex-direction: column-reverse;
  }
  .mini-game__info {
    width: 285px;
    padding: 29px 29px 32px 29px;
  }
  .mini-game__title {
    color: #202027;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mini-game__text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .mini-game__text6 {
    display: none;
  }
  .mini-game-mobile__text {
    display: block;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .mini-game__button {
    width: 285px;
    height: 55px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.688%; /* 22.67px */
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */