* {
    margin: 0;
    padding: 0;
}

body {
    font-family:
    'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    background: #E1FF8F;
    background-image: url(img/star1.svg), url(img/star2.svg), url(img/star3.svg);
    background-position: 63px 69px, 210% -350px, calc(100% - 344px) calc(100% - 149px);
    background-repeat: no-repeat;

    &__title {
        width: 769px;
        color: #202027;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 196px;
        padding-bottom: 24px;
    }

    &__text {
        width: 720px;
        color: #202027;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        padding-bottom: 48px;
    }

    &__button {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: 1px solid #202027;
        background: #202027;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 141.688%; /* 34.005px */
        margin-bottom: 156px;
    }

    &__button:hover {
        background: #FFF;
        color: #000;
    }

    // &__runway {
    //     height: 50px;
    //     background: #BCEC30;
    //     display: inline-flex;
    //     padding: 27px 49px;
    //     flex-direction: row;
    //     align-items: center;
    //     gap: 51px;
    //     overflow: hidden;
    // }

    // &__runway_text {
    //     color: #202027;
    //     font-size: 30px;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: 110%; /* 33px */
    //     letter-spacing: 1.2px;
    //     text-transform: uppercase;
    //     white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    // }
}